.movieCard{
    list-style: none;
    font-size: 1.2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 15px;
}
.movieCard:hover{
    opacity: 0.8;
}
.movieImagen {
    border-radius: 10px;
    background-color: azure;
}
@media (max-width:500px) {
    .movieImagen{
        width: 90%;
        height: auto;
    }
    
}